In [6]:
import pandas as pd
import datetime

In [7]:
df = pd.read_csv('data/data.csv', names=["student_id", "age", "created", "group_id", "recorded_date", "teacher_name", "planned_lesson_count", "passed_lessons", "group_start_date", "last_visit_date", "attendance", "expelled_date", "course_type"], skiprows=1)

In [8]:
def to_date(date_text):
    if isinstance(date_text, float):
        return None
    try:
        date = datetime.datetime.strptime(date_text, '%d/%m/%y')
        return date
    except ValueError:
        try:
            date = datetime.datetime.strptime(date_text, '%d/%m/%Y')
            return date
        except ValueError:
            return None

In [9]:
df['created'] = df['created'].apply(lambda x: to_date(x))
df['recorded_date'] = df['recorded_date'].apply(lambda x: to_date(x))
df['group_start_date'] = df['group_start_date'].apply(lambda x: to_date(x))
df['last_visit_date'] = df['last_visit_date'].apply(lambda x: to_date(x))
df['expelled_date'] = df['expelled_date'].apply(lambda x: to_date(x))

In [10]:
df = df.dropna(subset=['recorded_date'])

In [11]:
df['age'] = df['age'].fillna(df['age'].mean())

In [12]:
lessons = pd.DataFrame(columns=['student_id', 'date', 'course_type', 'attendance_type'])

for row in df.head().itertuples():

    arr = row.attendance.split(',')

    for i in range(len(arr)):
        if i == 0:
            lessons = lessons.append({'student_id': row.student_id,
                                      'date': row.group_start_date,
                                      'course_type': row.course_type,
                                      'attendance_type': arr[i]
                                      }, ignore_index=True)
        else:
            date = row.group_start_date + datetime.timedelta(weeks=i)
            if date <= row.last_visit_date:
                lessons = lessons.append({'student_id': row.student_id,
                                      'date': date,
                                      'course_type': row.course_type,
                                      'attendance_type': arr[i]
                                      }, ignore_index=True)
            else:
                break

lessons

   student_id       date course_type attendance_type
0      217013 2019-03-25        8-12               0
1      217013 2019-04-01        8-12               1
2      217013 2019-04-08        8-12               1
3      217013 2019-04-15        8-12               1
4      216066 2019-03-25        8-12               0
5      216052 2019-03-25        8-12               1
6      216052 2019-04-01        8-12               1
7      216052 2019-04-08        8-12               1
8      216044 2019-03-25        8-12               1
9      216044 2019-04-01        8-12               1
10     216044 2019-04-08        8-12               1
11     216044 2019-04-15        8-12               1
12     214869 2019-03-25        8-12               1
13     214869 2019-04-01        8-12               1